<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Trinity Café</title>
    <meta name=og:title content="Trinity Café Picrew">
    <meta name=og:description content="if you know you know">
    <meta name=og:type content=website>
    <meta name=og:image content=https://media.discordapp.net/attachments/1089207100611252358/1138197769719390398/IMG_1955.png>
    <meta name=og:image:secure_url content=https://media.discordapp.net/attachments/1089207100611252358/1138197769719390398/IMG_1955.png>
    <meta name=og:image:alt content="Pyra">
    <meta name=og:url content=https://ygg2.github.io/cafe/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    <style>
      [v-cloak]   { display: none; }
      .box {
        padding: 0;
        overflow: hidden;
        flex-basis: 100%;
        line-height: 0;
      }
      .cover-tile {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .dark {
        background-color: hsl(0, 0%, 29%); /* has-background-grey-dark */
        color: hsl(0, 0%, 96%); /* has-text-light */
      }
      .dark .title {
        color: hsl(0, 0%, 96%); /* has-text-light */
      }
      .button.is-primary.is-outlined:focus {
        background-color: transparent;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <main :class="{ dark: dark }">

        <section class="section">
          <div class="columns is-mobile">
            <div class="column">
              <h1 class="title is-4">The Trinity Processor but it's a modern café AU made with dress-up games</h1>
            </div>
            <div class="column is-narrow">
              <button
                class="button"
                :class="{ 'is-light': !dark, 'is-dark': dark }"
                @click="toggleTheme"
              >
                <span class="icon">
                  <i class="mdi mdi-24px mdi-theme-light-dark"></i>
                </span>
              </button>
            </div>
          </div>

          <div class="columns">

            <div class="column is-narrow">
              <p class="pb-4">Filter by name</p>
              <div class="buttons">
                <button
                  v-for="tag of tags"
                  class="button is-primary"
                  :class="{ 'is-light': !selected[tag] && !dark, 'is-outlined': !selected[tag] && dark }"
                  @click="filterBy(tag)"
                  :key="tag"
                >
                  {{ tag }}
                </button>
              </div>
            </div>

            <div class="column is-narrow">
              <p class="pb-4"> Filter by core</p>
              <div class="buttons">
                <button
                  class="button is-danger"
                  :class="{ 'is-light': !dark, 'is-outlined': dark }"
                  @click="setFilters('alvis')"
                >
                  Ontos
                </button>
                <button
                  class="button is-success"
                  :class="{ 'is-light': !dark, 'is-outlined': dark }"
                  @click="setFilters('pyra', 'mythra')"
                >
                  Pneuma
                </button>
                <button
                  class="button is-link"
                  :class="{ 'is-light': !dark, 'is-outlined': dark }"
                  @click="setFilters('malos')"
                >
                  Logos
                </button>
              </div>
            </div>

          </div>

        </section>

        <div class="columns is-mobile is-multiline">
          <div
            v-for="image of selectedImages"
            class="column is-3-widescreen is-3-desktop is-4-tablet is-6-mobile"
            :key="image.url"
          >
            <a class="box image is-square" :href="image.url">
              <img :src="image.url" class="cover-tile">
            </a>
            <a
              class="tag ml-4"
              :class="{ 'is-dark': dark }"
              :href="image.source.link"
            >
              Source: {{ image.source.name }}
            </a>
          </div>
        </div>

      </main>
    </div>

    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

      const tag = {}
      let keywords = ['pyra', 'mythra', 'malos', 'alvis']
      for (let keyword of keywords) {
        tag[keyword] = keyword
      }
      const source = {
        pastelgirl: {
          name: 'Pastel Girl',
          link: 'https://play.google.com/store/apps/details?id=com.seyeonsoft.pastel'
        },
        pastelfriends: {
          name: 'Pastel Friends',
          link: 'https://play.google.com/store/apps/details?id=com.seyeonsoft.friends'
        },
        picrew1904634: {
          name: 'Picrew 1904634',
          link: 'https://picrew.me/ja/image_maker/1904634'
        },
        picrew185483: {
          name: 'Picrew 185483',
          link: 'https://picrew.me/ja/image_maker/185483'
        },
        picrew11534: {
          name: 'Picrew 11534',
          link: 'https://picrew.me/ja/image_maker/11534'
        },
        picrew1387003: {
          name: 'Picrew 1387003',
          link: 'https://picrew.me/ja/image_maker/1387003'
        },
        picrew165901: {
          name: 'Picrew 165901',
          link: 'https://picrew.me/ja/image_maker/165901'
        },
        picrew1011016: {
          name: 'Picrew 1011016',
          link: 'https://picrew.me/ja/image_maker/1011016'
        },
        picrew58190: {
          name: 'Picrew 58190',
          link: 'https://picrew.me/ja/image_maker/58190'
        },
        picrew1195520: {
          name: 'Picrew 1195520',
          link: 'https://picrew.me/ja/image_maker/1195520'
        },
        picrew1656364: {
          name: 'Picrew 1656364',
          link: 'https://picrew.me/ja/image_maker/1656364'
        },
        picrew1244131: {
          name: 'Picrew 1244131',
          link: 'https://picrew.me/ja/image_maker/1244131'
        },
        picrew407340: {
          name: 'Picrew 407340',
          link: 'https://picrew.me/ja/image_maker/407340'
        }
      }

      createApp({
        data() {
          return {
            dark: false,
            tags: keywords,
            selected: {},
            selectedImages: [],
            images: [
              {
                url: 'https://media.discordapp.net/attachments/1089207100611252358/1138197769719390398/IMG_1955.png',
                tags: [tag.pyra],
                source: source.picrew1904634
              },
              {
                url: 'https://media.discordapp.net/attachments/1089207100611252358/1138197770176581632/IMG_1956.png',
                tags: [tag.mythra],
                source: source.picrew1904634
              },
              {
                url: 'https://media.discordapp.net/attachments/1089207100611252358/1138197770470178908/IMG_1953.png',
                tags: [tag.malos],
                source: source.picrew1904634
              },
              {
                url: 'https://media.discordapp.net/attachments/1089207100611252358/1138197770751189042/IMG_1959.png',
                tags: [tag.alvis],
                source: source.picrew1904634
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1136723186067705856/20230730170036.png',
                tags: [tag.pyra],
                source: source.pastelgirl
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1136723186571038750/20230730171135.png',
                tags: [tag.mythra],
                source: source.pastelgirl
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1138556021535670422/20230802220759.png',
                tags: [tag.pyra, tag.mythra, tag.malos, tag.alvis],
                source: source.pastelfriends
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139304576827281408/20230802224959.png',
                tags: [tag.alvis],
                source: source.pastelfriends
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1139277104337391616/IMG_1968.png',
                tags: [tag.mythra],
                source: source.picrew185483
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139303840525602847/IMG_2005.png',
                tags: [tag.malos],
                source: source.picrew11534
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1139276864096051210/IMG_2002.png',
                tags: [tag.pyra],
                source: source.picrew1387003
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1139276864452579328/IMG_2004.png',
                tags: [tag.mythra],
                source: source.picrew1387003
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139303839913214104/IMG_1991.png',
                tags: [tag.alvis],
                source: source.picrew165901
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1139276891837186241/IMG_1980.png',
                tags: [tag.pyra, tag.mythra],
                source: source.picrew165901
              },
              {
                url: 'https://cdn.discordapp.com/attachments/621770401604698123/1139277939419140156/IMG_1993.png',
                tags: [tag.alvis],
                source: source.picrew1011016
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139723615378608210/58190_pyra.png',
                tags: [tag.pyra],
                source: source.picrew58190
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139723615080824932/58190_mythra.png',
                tags: [tag.mythra],
                source: source.picrew58190
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139723614703321168/58190_malos.png',
                tags: [tag.malos],
                source: source.picrew58190
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139723614325837894/58190_a.png',
                tags: [tag.alvis],
                source: source.picrew58190
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139668499938148412/IMG_2011.png',
                tags: [tag.pyra],
                source: source.picrew1195520
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139668499657134262/IMG_2012.png',
                tags: [tag.mythra],
                source: source.picrew1195520
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139668500248531115/IMG_2010.png',
                tags: [tag.pyra, tag.mythra],
                source: source.picrew1656364
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139668499304820886/IMG_2015.png',
                tags: [tag.alvis],
                source: source.picrew1656364
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139742694223130695/1244131_a.png',
                tags: [tag.alvis],
                source: source.picrew1244131
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139742694734831616/1244131_mythra.png',
                tags: [tag.mythra],
                source: source.picrew1244131
              },
              {
                url: 'https://cdn.discordapp.com/attachments/747639048431992932/1139783814302941274/407340_pyra.png',
                tags: [tag.pyra],
                source: source.picrew407340
              }
            ]
          }
        },
        created() {
          this.selectedImages = this.images
          for (let tag of this.tags) {
            this.selected[tag] = false
          }
        },
        methods: {
          toggleTheme() {
            this.dark = !this.dark
          },
          refresh() {
            this.selectedImages = this.images.filter(image => {
              for (let tag of image.tags) {
                if (this.selected[tag]) {
                  return true
                }
              }
              return false
            })
            if (this.selectedImages.length == 0) {
              this.selectedImages = this.images
            }
          },
          filterBy(tag) {
            this.selected[tag] = !this.selected[tag]
            this.refresh()
          },
          setFilters(...tags) {
            for (let tag of this.tags) {
              if (tags.includes(tag)) {
                this.selected[tag] = true
              } else {
                this.selected[tag] = false
              }
            }
            this.refresh()
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>